<div [@routerTransition]>
  <h1>
    <span class="icon has-text-success">
      <i class="fas fa-info"></i>
    </span> &nbsp; Sobre
  </h1>
  <hr>

  <div *ngIf="isLoading">
    <div>

      <h3>
        <span class="icon has-text-danger">
          <i class="fas fa-edit"></i>
        </span> &nbsp; Editar informações
      </h3>

      <form #form="ngForm" (ngSubmit)="editAbout(about)">
        <div class="field">
          <label for="name" class="label">Título</label>
          <div class="control">
            <input class="input" placeholder="Título" name="name" [(ngModel)]="about.name" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="playlist" class="label">Playlist</label>
          <div class="control">
            <input class="input" placeholder="Playlist" name="playlist" [(ngModel)]="about.playlist" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="hashtagInstagram" class="label">Hashtag do Instagram Slider</label>
          <div class="control">
            <input class="input" placeholder="Hashtag" name="hashtagInstagram" [(ngModel)]="about.hashtagInstagram" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="description" class="label">Descrição</label>
          <div class="control">
            <ngx-trumbowyg-editor name="description" [(ngModel)]="about.description"></ngx-trumbowyg-editor>
          </div>
        </div>

        <div class="field">
          <label for="video" class="label">Vídeo</label>
          <div class="control">
            <input class="input" placeholder="Vídeo" name="video" [(ngModel)]="about.video" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="image" class="label">Imagem</label>
          <div class="file">
            <label class="file-label">
              <input class="file-input" type="file" name="image" value="" (change)="onFileChange($event)">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
            </label>
          </div>
          <br />
          <img src="{{ about.image ? about.image: 'assets/images/no-image.png' }}" width="50" />
        </div>

        <br />
        <div class="field">
          <button type="submit" class="button is-success" name="submit" [disabled]="!imageUploadStatus">
            <i class="fa fa-edit"></i> &nbsp; Editar
          </button>
        </div>
      </form>
    </div>

    <hr>

    <app-gallery parentId="{{ about.id }}"></app-gallery>

  </div>

  <div *ngIf="!isLoading" class="loading">
    <img src="assets/images/load.gif" alt="Carregando" />
  </div>
</div>