<div [@routerTransition]>
  <h1>
    <span class="icon has-text-success">
      <i class="fas fa-newspaper"></i>
    </span> &nbsp; Notícias
  </h1>
  <hr>

  <div *ngIf="isLoading">
    <div>

      <h3>
        <span class="icon has-text-danger">
          <i class="fas fa-plus"></i>
        </span> &nbsp; Adicionar nova
      </h3>

      <form [formGroup]="addArticleForm" (ngSubmit)="addArticle()">
        <div class="field">
          <label for="name" class="label">Nome</label>
          <div class="control">
            <input class="input" placeholder="Nome" name="name" formControlName="name" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="date" class="label">Data</label>
          <div class="control">
            <p class="control has-icons-left">
              <input [owlDateTime]="date" class="input" [owlDateTimeTrigger]="date" name="date" formControlName="date">
              <span class="icon is-small is-left">
                <i class="fas fa-calendar-alt"></i>
              </span>
            </p>
            <owl-date-time [pickerType]="'calendar'" [startView]="'year'" #date></owl-date-time>
          </div>
        </div>

        <div class="field">
          <label for="description" class="label">Descrição</label>
          <div class="control">
            <ngx-trumbowyg-editor name="description" formControlName="description"></ngx-trumbowyg-editor>
          </div>
        </div>

        <div class="field">
          <label for="image" class="label">Imagem</label>
          <div class="file">
            <label class="file-label">
              <input class="file-input" type="file" name="image" value="" #fileInput (change)="onFileChange($article)">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
            </label>
          </div>
        </div>

        <div class="field">
          <label for="order" class="label">Vídeo</label>
          <div class="control">
            <input class="input" placeholder="Vídeo" name="video" type="text" formControlName="video" />
          </div>
        </div>
        <div class="field">
          <label for="active" class="label">Ativo</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="active" formControlName="active" value="1" /> Sim
            </label>
            <label class="radio">
              <input type="radio" name="active" formControlName="active" value="0" /> Não
            </label>
          </div>
        </div>
        <br />
        <div class="field">
          <button type="submit" class="button is-success" name="submit" [disabled]="!addArticleForm.valid">
            <i class="fa fa-plus"></i> &nbsp; Adicionar
          </button>
        </div>
      </form>
    </div>

    <hr>



    <div *ngIf="articles">
      <h3>
        <span class="icon has-text-warning">
          <i class="fas fa-newspaper"></i>
        </span> &nbsp;
        Notícias ({{ articles.length }})
      </h3>

      <div [hidden]="!infoMsg.body" class="notification is-{{infoMsg.type}}" role="alert">
        {{ infoMsg.body }}
      </div>

      <div class="table-flex">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
          <thead class="thead-default">
            <tr>
              <th width="30%">Nome</th>
              <th width="20%">Ativo</th>
              <th align="center" width="30%">Ações</th>
            </tr>
          </thead>
          <tbody *ngIf="articles.length > 0">
            <tr *ngFor="let article of articles">
              <td>{{ article.name }}</td>
              <td align="center" class="{{ article.active == 1 ? 'has-text-success': 'has-text-danger' }}">{{ article.active == 1 ? 'Sim': 'Não' }}</td>
              <td align="center">
                <button class="button is-small is-warning" (click)="enableEditing(article)">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="button is-small is-danger" (click)="deleteArticle(article)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="isEditing">
            <tr>
              <td colspan="3">
                <form #form="ngForm" (ngSubmit)="editArticle(article)">
                  <div class="field">
                    <label for="name" class="label">Nome</label>
                    <input class="input" type="text" name="name" placeholder="Name" [(ngModel)]="article.name" required>
                  </div>

                  <div class="field">
                    <label for="description" class="label">Descrição</label>
                    <div class="control">
                      <ngx-trumbowyg-editor name="description" [(ngModel)]="article.description"></ngx-trumbowyg-editor>
                    </div>
                  </div>

                  <div class="field">
                    <label for="date" class="label">Data</label>
                    <div class="control">
                      <p class="control has-icons-left">
                        <input class="input" [owlDateTime]="date" name="date" [owlDateTimeTrigger]="date" [(ngModel)]="article.date">

                        <span class="icon is-small is-left">
                          <i class="fas fa-calendar-alt"></i>
                        </span>
                      </p>
                      <owl-date-time [pickerType]="'calendar'" [startView]="'year'" #date></owl-date-time>
                    </div>
                  </div>

                  <div class="field">
                    <label for="image" class="label">Imagem</label>
                    <div class="file">
                      <label class="file-label">
                        <input class="file-input" type="file" name="image" value="" (change)="onFileChange($article)">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">
                            Choose a file…
                          </span>
                        </span>
                      </label>
                    </div>
                    <br />
                    <img src="{{ article.image ? about.image: 'assets/images/no-image.png' }}" width="50" />
                  </div>

                  <div class="field">
                    <label for="video" class="label">Vídeo</label>
                    <input class="input" type="text" name="video" placeholder="Vídeo" [(ngModel)]="article.video">
                  </div>

                  <div class="field">
                    <label for="active" class="label">Ativo</label>
                    <div class="control">
                      <label class="radio">
                        <input type="radio" name="active" [(ngModel)]="article.active" value="1" /> Sim
                      </label>
                      <label class="radio">
                        <input type="radio" name="active" [(ngModel)]="article.active" value="0" /> Não
                      </label>
                    </div>
                  </div>

                  <br />

                  <div class="field">
                    <button class="button is-success" type="submit" [disabled]="!imageUploadStatus">
                      <i class="fa fa-floppy-o"></i> &nbsp; Salvar
                    </button>
                    <button class="button is-danger" (click)="cancelEditing()">
                      <i class="fa fa-times"></i> &nbsp; Cancelar
                    </button>
                  </div>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading" class="loading">
    <img src="assets/images/load.gif" alt="Carregando" />
  </div>
</div>