<h1>
    <span class="icon has-text-success">
      <i class="fas fa-image"></i>
    </span> &nbsp; Galeria
  </h1>
  <hr>

  <div *ngIf="isLoading">
    <div>

      <h3>
        <span class="icon has-text-danger">
          <i class="fas fa-plus"></i>
        </span> &nbsp; Adicionar foto
      </h3>

      <form [formGroup]="addPhotoForm" (ngSubmit)="addPhoto()">
        <div class="field">
          <label for="name" class="label">Nome</label>
          <div class="control">
            <input class="input" placeholder="Nome" name="name" formControlName="name" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="name" class="label">Link</label>
          <div class="control">
            <input class="input" placeholder="Link" name="link" formControlName="link" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="image" class="label">Imagem</label>
          <div class="file">
            <label class="file-label">
              <input class="file-input" type="file" name="image" value="" #fileImage (change)="onFileChange($event)">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
            </label>
          </div>
        </div>

        <div class="field">
          <label for="order" class="label">Ordem</label>
          <div class="control">
            <input class="input" placeholder="Ordem" name="order" type="text" formControlName="order" />
          </div>
        </div>

        <br />
        <div class="field">
          <button type="submit" class="button is-success" name="submit" [disabled]="!addPhotoForm.valid">
            <i class="fa fa-plus"></i> &nbsp; Adicionar
          </button>
        </div>
      </form>
    </div>

    <hr>

    <div dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">

        <div class="file">
          <label class="file-label">
      
      
            <input class="file-input" multiple type="file" (change)="startUpload($event.target.files)">
      
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                Múltiplo upload …
              </span>
            </span>
          </label>
          &nbsp;&nbsp;
          <button class="button is-danger" type="button" (click)="deleteAllPhotos()">
            <i class="fa fa-trash"></i> &nbsp; Deletar todas as fotos
          </button>
          &nbsp;&nbsp;
          <button class="button is-warning" type="button" (click)="rerender()">
            <i class="fa fa-refresh"></i> &nbsp; Atualizar
          </button>
        </div>

      </div>
      
      <div *ngIf="percentage | async as pct">
      
        <!-- <progress class="progress is-info" [value]="pct" max="100">
        </progress>
      
        {{ pct | number }}%
        -->
      </div>
      
      
      
      
      
      
      <div *ngIf="(snapshot | async) as snap">
        <!-- {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }} -->
      
      
        <div *ngIf="downloadURL | async as url">
          <!-- <h3>Results!</h3>
          <img [src]="url">
          <br>
          <a [href]="url" target="_blank" rel="noopener">Download Me!</a> -->
        </div>
        <hr>
      
        <!--
        <button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>
        <button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>
        <button (click)="task.resume()" class="button is-info" [disabled]="!(snap?.state === 'paused')">Resume</button> 
        -->
      </div>

    <hr>

    <div *ngIf="gallery">
      <h3>
        <span class="icon has-text-warning">
          <i class="fas fa-image"></i>
        </span> &nbsp;
        Fotos ({{ gallery.length }})
      </h3>

      <div [hidden]="!infoMsg.body" class="notification is-{{infoMsg.type}}" role="alert">
        {{ infoMsg.body }}
      </div>

      <div class="table-flex">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
          <thead class="thead-default">
            <tr>
              <th width="30%">Nome</th>
              <th width="20%">Imagem</th>
              <th width="20%">Ordem</th>
              <th align="center" width="30%">Ações</th>
            </tr>
          </thead>
          <tbody *ngIf="gallery.length > 0">
            <tr *ngFor="let photo of gallery">
              <td>{{ photo.name }}</td>
              <td align="center">
                <img src="{{ photo.image ? photo.image: 'assets/images/no-image.png' }}" alt="{{ photo.name }}" width="50" />
              </td>
              <td align="center">{{ photo.order }}</td>
              <td align="center">
                <button class="button is-small is-warning" (click)="enableEditing(photo)">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="button is-small is-danger" (click)="deletePhoto(photo)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="isEditing">
            <tr>
              <td colspan="4">
                <form #form="ngForm" (ngSubmit)="editPhoto(photo)">
                  <div class="field">
                    <label for="name" class="label">Nome</label>
                    <input class="input" type="text" name="name" placeholder="Name" [(ngModel)]="photo.name" required>
                  </div>

                  <div class="field">
                    <label for="name" class="label">Link</label>
                    <div class="control">
                      <input class="input" placeholder="Link" name="link" type="text" [(ngModel)]="photo.link" required />
                    </div>
                  </div>

                  <div class="field">
                    <label for="image" class="label">Imagem</label>
                    <div class="file">
                      <label class="file-label">
                        <input class="file-input" type="file" name="image" value="" (change)="onFileChange($event)">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">
                            Choose a file…
                          </span>
                        </span>
                      </label>
                    </div>
                    <br />
                    <img src="{{ photo.image ? photo.image: 'assets/images/no-image.png' }}" width="50" />
                  </div>

                  <div class="field">
                    <label for="order" class="label">Ordem</label>
                    <input class="input" type="text" name="order" placeholder="Ordem" [(ngModel)]="photo.order" required>
                    <input class="input" type="hidden" name="parentId" [(ngModel)]="photo.parentId" required>
                  </div>

                  <br />

                  <div class="field">
                    <button class="button is-success" type="submit" [disabled]="!imageUploadStatus">
                      <i class="fa fa-floppy-o"></i> &nbsp; Salvar
                    </button>
                    <button class="button is-danger" (click)="cancelEditing()">
                      <i class="fa fa-times"></i> &nbsp; Cancelar
                    </button>
                  </div>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading" class="loading">
    <img src="assets/images/load.gif" alt="Carregando" />
  </div>
