@import 'bulma/css/bulma.css';

// Colors
$white: #fff !default;
$black: #000 !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
$blue: #0275d8 !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;
// Grayscale
$gray-dark: #222;
$gray: #212121;
$gray-light: #666;
$gray-lighter: #bbb;
$gray-lightest: #eee;
///// Content
$body-font: 'Source Sans Pro',
sans-serif;
$heading-font: 'Palanquin',
sans-serif;
body {
    font-family: $body-font;
    // padding: 0 1vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
{
    font-family: $heading-font;
    font-weight: 300 !important;
}

a {
    color: $blue;
    font-weight: bold;
    &:hover {
        color: darken($blue, 10%)
    }
}

.is-active .navbar-item {
  color: #333;
}

.navbar-burger, .navbar-item {
  color: #fff;
}

.navbar-burger:hover {
  color: #fff;
}

#wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    // min-height: 70vh;
    // padding: 2vw;
    // flex: 1
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.logo {
    font-size: 1.2em;
    font-weight: bold;
    font-family: $heading-font;
    color: #1D262F;
    img {
        margin-right: 5px;
    }
}

.footer {
    border-top: 2px solid $gray-lightest;
    min-height: 100px;
    text-align: center;
    font-size: 0.9em;
    background: #f9f9f9;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box {
    border-radius: 0px;
    margin-top: 5px;
}

///// Social Buttons
.input {
    margin-bottom: 5px;
}

.btn-social {
    color: #fff;
    i {
        margin-right: 5px;
    }
    &:hover {
        color: #fff;
        box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.2), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
    }
    .btn-block {
        margin-bottom: 10px;
    }
}

.btn-twitter {
    background-color: #55ACEE;
}

.btn-facebook {
    background-color: #3B5998;
}

.btn-github {
    background-color: #333333;
}

.btn-google {
    background-color: #DD4B39;
}

.btn-social.button[disabled] {
    color: #333333;
    background-color: #fff;
    border-color: #dbdbdb;
    box-shadow: none;
    opacity: .6;
}

.loading {
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #272c33;
    padding-top: 25vh;
    text-align: center;
    z-index: -1;
    transition: opacity .8s ease-out;
}

app-root:empty+.loading {
    opacity: 1;
    z-index: 100;
    h1 {
        font-family: "courier", monospace;
        color: #EEE;
        margin-bottom: 50px;
    }
}

.button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.dataTables_wrapper .dataTables_length {
  width:250px;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer {
  border-bottom:1px solid #dbdbdb;
}


#DataTables_Table_0_filter > label > input[type="search"],
#DataTables_Table_1_filter > label > input[type="search"],
#DataTables_Table_2_filter > label > input[type="search"],
#DataTables_Table_3_filter > label > input[type="search"],
#DataTables_Table_4_filter > label > input[type="search"],
#DataTables_Table_5_filter > label > input[type="search"],
#DataTables_Table_6_filter > label > input[type="search"],
#DataTables_Table_7_filter > label > input[type="search"],
#DataTables_Table_8_filter > label > input[type="search"],
#DataTables_Table_9_filter > label > input[type="search"],
#DataTables_Table_10_filter > label > input[type="search"],
#DataTables_Table_11_filter > label > input[type="search"],
#DataTables_Table_12_filter > label > input[type="search"],
#DataTables_Table_13_filter > label > input[type="search"],
#DataTables_Table_14_filter > label > input[type="search"] {
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

#DataTables_Table_0_length > label > select,
#DataTables_Table_1_length > label > select,
#DataTables_Table_2_length > label > select,
#DataTables_Table_3_length > label > select,
#DataTables_Table_4_length > label > select,
#DataTables_Table_5_length > label > select,
#DataTables_Table_6_length > label > select,
#DataTables_Table_7_length > label > select,
#DataTables_Table_8_length > label > select,
#DataTables_Table_9_length > label > select,
#DataTables_Table_10_length > label > select,
#DataTables_Table_11_length > label > select,
#DataTables_Table_12_length > label > select,
#DataTables_Table_13_length > label > select,
#DataTables_Table_14_length > label > select {
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  display: block;
  float:left;
  font-size: 1em;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  margin-right: .5em;
}


#DataTables_Table_0_paginate > span > a,
#DataTables_Table_1_paginate > span > a,
#DataTables_Table_2_paginate > span > a,
#DataTables_Table_3_paginate > span > a,
#DataTables_Table_4_paginate > span > a,
#DataTables_Table_5_paginate > span > a,
#DataTables_Table_6_paginate > span > a,
#DataTables_Table_7_paginate > span > a,
#DataTables_Table_8_paginate > span > a,
#DataTables_Table_9_paginate > span > a,
#DataTables_Table_10_paginate > span > a,
#DataTables_Table_11_paginate > span > a,
#DataTables_Table_12_paginate > span > a,
#DataTables_Table_13_paginate > span > a,
#DataTables_Table_14_paginate > span > a {
  border-color: transparent;
  color: #fff;
  margin-right: 5px;
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
}

#DataTables_Table_0 > thead > tr > th:last-child,
#DataTables_Table_1 > thead > tr > th:last-child,
#DataTables_Table_2 > thead > tr > th:last-child,
#DataTables_Table_3 > thead > tr > th:last-child,
#DataTables_Table_4 > thead > tr > th:last-child,
#DataTables_Table_5 > thead > tr > th:last-child,
#DataTables_Table_6 > thead > tr > th:last-child,
#DataTables_Table_7 > thead > tr > th:last-child,
#DataTables_Table_8 > thead > tr > th:last-child,
#DataTables_Table_9 > thead > tr > th:last-child,
#DataTables_Table_10 > thead > tr > th:last-child,
#DataTables_Table_11 > thead > tr > th:last-child,
#DataTables_Table_12 > thead > tr > th:last-child,
#DataTables_Table_13 > thead > tr > th:last-child,
#DataTables_Table_14 > thead > tr > th:last-child
{
  width: 11% !important;
}


#DataTables_Table_0 form input,
#DataTables_Table_1 form input,
#DataTables_Table_2 form input,
#DataTables_Table_3 form input,
#DataTables_Table_4 form input,
#DataTables_Table_5 form input,
#DataTables_Table_6 form input,
#DataTables_Table_7 form input,
#DataTables_Table_8 form input,
#DataTables_Table_9 form input,
#DataTables_Table_10 form input,
#DataTables_Table_11 form input,
#DataTables_Table_12 form input,
#DataTables_Table_13 form input,
#DataTables_Table_14 form input {
  width: 97%;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 200;
  height: 120px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
      border: 2px solid #f16624;
      color: #dadada !important;
  }

  .file-label {
      font-size: 1.2em;
  }
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

.active-page {
  background-color: #fafafa;
  color: #3273dc;
}

.section {
  padding: 1rem 1.5rem;
}

.table-flex {
	width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}

.table-flex::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 14px;
	height: 14px;
}

.table-flex::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, .3);
}


@media screen and (max-width: 640px) {
  .dataTables_length {
    display: none;
  }

  .dataTables_filter {
    margin: 2em 0;
  }
}

.notification {
  margin-bottom: 2em;
}

table.dataTable, table.dataTable th, table.dataTable td {
  box-sizing: border-box;
}
