<div [@routerTransition]>
  <h1>
    <span class="icon has-text-success">
      <i class="fas fa-list-ol"></i>
    </span> &nbsp;
    Lista do {{ event.name }}
  </h1>

  <hr />

  <div *ngIf="isLoading">
    <div>

      <h3>
        <span class="icon has-text-danger">
          <i class="fas fa-plus"></i>
        </span> &nbsp;
        Adicionar novo
      </h3>

      <form [formGroup]="addBookingForm" (ngSubmit)="addBooking()">
        <div class="field">
          <label for="name" class="label">Nome</label>
          <div class="control">
            <input class="input" placeholder="Nome" name="name" formControlName="name" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="email" class="label">E-mail</label>
          <div class="control">
            <input class="input" placeholder="E-mail" name="email" formControlName="email" type="text" />
          </div>
        </div>

        <div class="field">
          <label for="phone" class="label">Telefone</label>
          <div class="control">
            <input class="input" placeholder="Telefone" name="phone" formControlName="phone" type="text" />
          </div>
        </div>

        <input class="input" placeholder="Evento" name="eventId" formControlName="eventId" type="hidden" />

        <div class="field">
          <button type="submit" class="button is-success" name="submit" [disabled]="!addBookingForm.valid">
            <i class="fa fa-plus"></i> &nbsp;
            Adicionar
          </button>
        </div>
      </form>
    </div>

    <hr>

    <div *ngIf="bookings">
      <h3>
        <span class="icon has-text-warning">
          <i class="fas fa-list-ol"></i>
        </span> &nbsp;
        Lista do {{ event.name }} ({{ bookings.length }})
      </h3>

      <div [hidden]="!infoMsg.body" class="notification is-{{ infoMsg.type }}" role="alert">
        {{ infoMsg.body }}
      </div>

      <div class="table-flex">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
          <thead class="thead-default">
            <tr>
              <th width="30%">Nome</th>
              <th width="20%">Telefone</th>
              <th width="20%">E-mail</th>
              <th align="center" width="30%">Ações</th>
            </tr>
          </thead>
          <tbody *ngIf="bookings.length > 0">
            <tr *ngFor="let booking of bookings">
              <td>{{ booking.name }}</td>
              <td align="center">{{ booking.phone }}</td>
              <td align="center">{{ booking.email }}</td>
              <td align="center">
                <button class="button is-small is-warning" (click)="enableEditing(booking)">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="button is-small is-danger" (click)="deleteBooking(booking)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="isEditing">
            <tr>
              <td colspan="4">
                <form #form="ngForm" (ngSubmit)="editBooking(booking)">
                  <div class="field">
                    <label for="name" class="label">Nome</label>
                    <input class="input" type="text" name="name" placeholder="Name" [(ngModel)]="booking.name" required />
                  </div>

                  <div class="field">
                    <label for="name" class="label">E-mail</label>
                    <div class="control">
                      <input class="input" placeholder="E-mail" name="email" type="text" [(ngModel)]="booking.email" required />
                    </div>
                  </div>

                  <div class="field">
                    <label for="name" class="label">Telefone</label>
                    <div class="control">
                      <input class="input" placeholder="Telefone" name="phone" type="text" [(ngModel)]="booking.phone" required />
                    </div>
                  </div>

                  <div class="field">
                    <label for="name" class="label">Evento</label>
                    <div class="control">
                      <input class="input" placeholder="Evento" name="eventId" type="text" [(ngModel)]="booking.eventId" required />
                    </div>
                  </div>

                  <br />

                  <div class="field">
                    <button class="button is-success" type="submit" [disabled]="!form.form.valid">
                      <i class="fa fa-floppy-o"></i> &nbsp; Salvar
                    </button>
                    <button class="button is-danger" (click)="cancelEditing()">
                      <i class="fa fa-times"></i> &nbsp; Cancelar
                    </button>
                  </div>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading" class="loading">
    <img src="assets/images/load.gif" alt="Carregando" />
  </div>
</div>